h1{
    color: #00adff
}
.header{
    background-color: #ffad  ;
display:flex ;
justify-content : space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item img{
    border:1px solid #00adff;
    border-radius:20%;    
}   